body{
  background-color: ghostwhite;
}

.login-container{
  position: absolute;
  top:15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #9be2ab;
}
.g{
  background: url('../assets/images/login2.jpg');
  width: 100%;
  height: 100vh;
  background-size: 100%;
}

.signup-text p{
  text-align: center;
    font-size: 25px;
}

.signup-text h1{
  text-align: center;
  margin-bottom: 20px
}

.signup-text{
  padding-bottom: 20px;
      margin-top: -30px;
}

.sicon{
  margin-left: 3px;
}

.icon-tl{
  margin-right: 5px;
}

.gicon{
  margin-left: 17px;
}

.nxt{
  margin-left: 25px;
}


.box-ele{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.thumbnail{
  opacity: 1;
	width: 100%;
	height: 310px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    transition: .5s ease;
    backface-visibility: hidden;
}
.add-cart {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.product-name{
  text-align: center;
}

.product-name:nth-of-type(1){
  text-align: center;
  font-weight: normal !important;
  font-size: 20px !important;
}



.box-ele:hover .thumbnail {
  opacity: 0.3;
}

.box-ele:hover .add-cart {
  opacity: 1;
}

/* .cart-icon{
  display: none;
} */

/* .add-cart-btn:hover i{
  display: block;
  padding :4px 27px;
  transition: .5s ease;
}
.add-cart-btn:hover span{
  display: none;

} */


/* .cart-icon:hover {
  opacity: 1;

}  */


.product-name{
  margin-top: 10px;
}

.prod-d-img{
  width: 500px;
padding: 10px 10px;
height: 500px;
border: 2px solid #eee;

}

.pro-det{
  padding-top:10px;
}

.prod-name-header{
  font-size: 50px;
/* font-size: -webkit-xxx-large; */
font-weight: 138px;
font-family: sans-serif;
font-weight: bold;
}

.add-to-container {
position: relative;
top: 10%;
left: 27%;
padding:20px 20px

}
.d-btn button{
  border-radius: 0;
}


.cart-holder{
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
background-color: #fff;
border-radius: 0px;
padding: 10px;
margin-top:10px;
}

.cart-details{
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
background-color: #fff;
border-radius: 0px;
padding: 20px;
margin-top:10px;
}

.cart-pic{
  height: 100px;
  width: 100px;

}

.cart-items{
  display: inline-flex;
}
.c-details{
  padding-left:10px
}

.p-det{
  display: flex;
-webkit-justify-content: space-between;
margin: 20px 0;
}

.srch{
width: 45%;
transform: translateX(-50%);
position: absolute;
left: 50%
}
