.navbar{
  padding:15px  !important;
  color:#fff;
  box-shadow:hsl(0, 0%, 80%) 0 0 16px
}

#home-lnk{
  font-family: Lobster;
    font-size: 33px;
    padding: 0px 0px;
    margin-left: 100px;
    font-weight: 500;
}

.nav-font{
color:black !important;
text-transform: uppercase;
}

.header_menu{
  padding:5px 0px;
}

#cart-total{
  color: white;
font-size: 10px;
position: absolute;
bottom: 46px;
width: 20px;
background-color: black;
border-radius: 50%;
text-align: center;
line-height: 18px;
}
