{% extends 'base.html' %}
{% load staticfiles %}
{%  block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="cart-holder">
        <h2>Mycart</h2>
        <hr>
        {% for item in items %}

        <div class="items-container">
          <div class="cart-items">
            <img class="cart-pic" src="{{ item.item.image.url }}" alt="">
            <div class="c-details">
              <div class="cart-prod-name">
                <p>{{item.item.name}}</p>
              </div>
              <div class="cart-prod-cost">
                <p>{{ item.item.price }}</p>
              </div>


            </div>
            <div class="" style='padding-left:320px;padding-top:20px'>
              <div class="btn-group " role="group" aria-label="">
                <button type="button" class="btn btn-secondary" style='border-radius:0px' ><i class="fa fa-plus" aria-hidden="true"></i></button>
                <input type="text" name="" value="0" readonly class='text-center' style="width:30px">
                <button type="button" class="btn btn-secondary" style='border-radius:0px'><i class="fa fa-minus" aria-hidden="true"></i></button>
              </div>

            </div>

          </div>
          <!-- <button type="button" name="button">Place Order</button> -->
        </div>
        <hr>
        {% endfor %}


      </div>
      <div class="" style="margin-top:20px;position:absolute;right:15px">
          <button type="button" class="btn btn-primary btn-lg" style="border-radius:0px" name="button"> PLACE ORDER <i class="fa fa-chevron-right" style="font-size:15px" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-4">
        <div class='cart-details'>
          <div class="price-detail-header">
            <h3>Price Details</h3>
          </div>
          <hr>
          <div class="price-container">
            <div class="price p-det">
              Price
              <span>Rs.123</span>
            </div>
            <div class="del-fee p-det">
              Delivery Fee
              <span>Rs.40</span>
            </div>
            <hr>
            <div class="p-det">
              <h4>Total Price</h4>
              <span><h4>Rs.167</h4></span>
            </div>
          </div>



      </div>
    </div>

  </div>


</div>


{% endblock %}
