{% extends 'base.html' %}
{% load staticfiles %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock headextra %}
{%  block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="cart-holder">
        <h2>Mycart</h2>
        <hr>
        {% for item in items %}

        <div class="items-container">
          <div class="cart-items">
            <img class="cart-pic" src="{{ item.item.image.url }}" alt="">
            <div class="c-details">
              <div class="cart-prod-name">
                <p>{{item.item.name}}</p>
              </div>
              <div class="cart-prod-cost">
                <p>{{ item.item.price }}</p>
              </div>


            </div>
            <div class="" style='padding-left:320px;padding-top:20px'>
              <div class="btn-group " role="group" aria-label="">
                <button type="button" data-product="{{item.item.id}}" data-action='add' class="btn btn-secondary update-cart" style='border-radius:0px' ><i class="fa fa-plus" aria-hidden="true"></i></button>
                <input type="text" name="" value={{item.quantity}} readonly class='text-center' style="width:30px">
                <button type="button" data-product="{{item.item.id}}" data-action='remove' class="btn btn-secondary update-cart" style='border-radius:0px'><i class="fa fa-minus" aria-hidden="true"></i></button>
              </div>

            </div>

          </div>
          <!-- <button type="button" name="button">Place Order</button> -->
        </div>
        <hr>
        {% endfor %}


      </div>
      <div class="ct_btns" style="margin-top:20px">
          <button type="button" class="btn btn-primary btn-lg" style="border-radius:0px" name="button"> <a id='pl_order' href="{% url 'SKART:store' %}" style='color:white'><i class="fa fa-chevron-left" style="font-size:15px" aria-hidden="true"></i> CONTINUE SHOPPING </a> </button>
          <button type="button" class="btn btn-primary btn-lg" style="border-radius:0px" name="button"> <a id='pl_order' href="{% url 'SKART:checkout' %}" style='color:white'>PLACE ORDER <i class="fa fa-chevron-right" style="font-size:15px" aria-hidden="true"></i></a> </button>

      </div>
    </div>


    <div class="col-4">
      {% if order %}
          {% include 'items_card.html' %}
      {% endif %}
    </div>


  </div>


</div>


{% endblock %}
