{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">

{% endblock headextra %}

{% block breadcrumbs %}
<div class="container brd_crumb_container">

  <div class="breadcrumbs_links">
      <a href="{% url 'SKART:store' %}">
        <i class='fa fa-home'></i>{% trans 'Home' %}
      </a>
      <a href="{% url 'SKART:cart' %}">Shopping Cart</a>
      <span>Checkout</span>
  </div>
</div>

{% endblock %}



{%  block content %}
<div class="container">
  <div class="row">
    <div class="col-8 col-sm-8 col-md-8 col-ls-8">
      <div class="address cart-holder">
        <h4>Address</h4>
        <hr>
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputUsername">Title</label>
              <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Home/Office or other">
            </div>
            <div class="form-group col-md-6">
              <label for="inputUsername">Name</label>
              <input type="text" class="form-control" name="name" id="inputName" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmai">Email</label>
              <input type="email" class="form-control" name='email' id="inputemail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" name='address'  placeholder="Mandarin St">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" name='city' id="inputCity" placeholder="Hyderbad">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <input type="text" class="form-control" name="state" value="" placeholder="Andhra Pradesh" >
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" name="zipcode" id="inputZip" placeholder="520012">
            </div>

          </div>

          <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
        </form>
      </div>

    </div>
    <div class="col-4  col-sm-4 col-md-4 col-ls-4 ">
        {% include 'items_card.html' %}
        <div class="place_order_container">
          <button  class='btn btn-danger btn-block' type="button" name="button"> Place Order </button>
        </div>

    </div>

    <div class="col-8 col-sm-8 col-md-8">
      <div class="cart-holder">
        <div class="header">
          <h4>Saved Address</h4>
        </div>
        {% for add in  address %}
            <div class="add_holder">
              <div class="add_section cart-holder ">
                <span><p><input type="radio" name="" value="{{add.id}}">
                {{add.title}}</p></span>
                {{ add.user.phone_number }},
                {{ add.street_address}}
                {{add.apartment_address}}
                {{add.zipcode}}



              </div>

            </div>

        {% empty %}
            <p>Add New address</p>
        {% endfor %}
      </div>

    </div>

  </div>

</div>

{% endblock %}
