{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block headextra %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock headextra %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col col-sm-6 col-md-6 mt-5">
        <div class="contact_container">
          <div class="header">
            <h2>Contact Info </h2>
          </div>
          <hr>
          <div class="address_section">
            <p class='h_fields'><span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Address </span></p>
            <p class='h_text'> Banjara Hills,Hyderabad </p>
          </div>

          <div class="phone_section">
            <p class='h_fields'><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp Phone </span></p>
            <p class='h_text'> +91-9454594539 </p>
          </div>
          <div class="support_section">
            <p class='h_fields'><span><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp Support </span></p>
            <p class='h_text'> rcart.support@gmail.com </p>
          </div>
            <h2 id="msg_header">Send Message</h2>
            <div class="">
              <form  method="post">
                {% csrf_token %}
                {{form|bootstrap}}

              <div class='snd_mss_btn'>
                <button type="submit" class='btn  send_mss_btn' value="Submit" name="button">Send Message</button>

              </div>
                </form>
            </div>
            <div class="messages">
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style='font-size:25px;color:green' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            </div>

        </div>
      </div>
      <div class="col col-sm-6 col-md-6 mt-5">
        <div class="map_section">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30455.308725198633!2d78.4182585845719!3d17.415933985920354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9728e7c230a5%3A0xbf59752f5f7caa0!2sBanjara%20Hills%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1598359501558!5m2!1sen!2sin" width="600" height="900" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">

          </iframe>
        </div>
      </div>
    </div>

  </div>



{% endblock %}
