{% block content %}
{% load static %}
{% block headextra %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
<script type="text/javascript" src="{% static 'js/get_category_wise_product.js' %}" ></script>
{% endblock headextra %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#src_icon').click(function(event){
      var value = $('.src_box').val()
      console.log(value)
      $('#srch_form').append(value)
      $('#srch_form').submit()
      event.preventDefault()
    })

    $('#catgory_sec').click(function() {





      if ($('#user-menu-dropdown').css('display')=='none') {
        $('#user-menu-dropdown').addClass('visible') ;
        $('.cdown_icon').css({"transform": "rotate(180deg)",
        "-webkit-transform": "rotate(180deg)",
        "color":"black"})

      }

      else { $('#user-menu-dropdown').removeClass('visible');
      // cosole.log()
      $('.cdown_icon').css({"transform": "rotate(0deg)",
      "-webkit-transform": "rotate(0deg)",
    "color":"#b4b7b9"})

    }

    });
  });
</script>

<nav class="navbar navbar-expand-lg fixed-top" style='background-color:white'>

  <!-- <a class="navbar-brand" href="{% url 'SKART:store' %}">BuyIt</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " style='color:black' id='home-lnk' href="{% url 'SKART:store' %}">RCart <span class="sr-only">(current)</span></a>
      </li>
      <ul class="navbar-nav mr-auto header_menu" >
        <li class="nav-item offset-6"><a class="nav-link nav-font" href="{% url 'SKART:store' %}">Home</a></li>

        <li class="nav-item offset-2" id='catgory_sec'>

          <a class="nav-link nav-font" href="#">

        <span>Categories<i class="fa fa-chevron-down cdown_icon" aria-hidden="true"></i> </span>
            </a>

            <div id="user-menu-dropdown">
              <div class='drop_ele'>
                <a href="#"  style='color:white;font-size:small'> APPAREL </a>
              </div>
              <div class='drop_ele' >
                <a href="#" style='color:white;font-size:small'> ELECTRONICS </a>
              </div>
              <div class='drop_ele' >
                <a href="#" style='color:white;font-size:small'> HOUSEHOLD </a>
              </div>
            </div>
        </li>
        <li class="nav-item offset-2"><a class="nav-link nav-font" href="{% url 'SKART:contact' %}">Contact</a></li>
      </ul>


    </ul>


    </div>


    <div class=" mx-2 login-btn" role='group'>

      <div class="d-inline mx-2" style='padding-right:20px'>
        <form id='srch_form' class="d-inline" action="{% url 'search' %}" method="get">
        <input class="src_box" type="text" name="q" value="" placeholder="Search">
          <a class="d-inline" href="" style='color:black;margin-right:13px'><i id='src_icon' class="fa fa-search" aria-hidden="true"></i></a>
        </form>


        <a class="d-inline" href="{% url 'SKART:cart' %}" style='color:black;font-size:20px'><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        <div class="d-inline p-0" id='cart-total' >{{ cart_value }}</div>
      </div>


      {% if user.is_authenticated %}
      <!-- <button type="button" class='btn btn-danger' name="button"  >Logout</button> -->


        <a href="/accounts/logout/" class='btn btn-dark'>Logout</a>
      {% else %}
          <button type="button" class='btn btn-outline-dark' name="button" data-toggle="modal" data-target="#exampleModalCenter" data-keyboard="false" data-backdrop="static" >LogIn/Register</button>
      {% endif %}



    </div>



  <!-- <div class="input-group srch" >
    <input class="form-control "  style="border-radius:0px" type="text" placeholder="Search">
    <div class="input-group-append" >
      <span class="input-group-text" style='border-radius:0px'><i class="fa fa-search fa-fw" ></i></span>
    </div>
  </div> -->

</nav>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true" style="float:right;padding:5px 10px">&times;</span>
        </button>

      <div class="modal-body">
        {% load socialaccount %}
        {% providers_media_js %}
        <div class="signup-text">
          <p>Sign in to</p>

          <h1>ShopKart</h1>

        </div>
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
    <span class="fa fa-facebook"></span>
            Sign in with Facebook
   </a>


   <a href="{% provider_login_url "google" method='js_sdk' %}"  class="btn btn-block btn-social btn-google" style="background-color:#dd4b39;text-align:center">
<span class="fa fa-google"></span>
       Sign in with Google </a>
      </div>




    </div>
  </div>
</div>






{% endblock %}
