{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'SKART:store' %}">ShopKart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id='home-lnk' href="{% url 'SKART:store' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-4 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="form-inline mx-2 login-btn" role='group'>

      {% if user.is_authenticated %}
      <!-- <button type="button" class='btn btn-danger' name="button"  >Logout</button> -->

      <a href="/accounts/logout/" class='btn btn-danger'>Logout</a>
      {% else %}
      <button type="button" class='btn btn-danger' name="button" data-toggle="modal" data-target="#exampleModalCenter" data-keyboard="false" data-backdrop="static" >LogIn</button>
      {% endif %}


      <div class="d-inline mx-2">
        <a class="d-inline" href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        <p class="d-inline p-0" id='cart-total' style="color:blue" >0</p>
      </div>

    </div>


  </div>
</nav>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true" style="float:right;padding:5px 10px">&times;</span>
        </button>

      <div class="modal-body">
        {% load socialaccount %}
        {% providers_media_js %}
        <div class="signup-text">
          <p>Sign in to</p>

          <h1>ShopKart</h1>

        </div>
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
    <span class="fa fa-facebook"></span>
            Sign in with Facebook
   </a>


   <a href="{% provider_login_url "google" method='js_sdk' %}"  class="btn btn-block btn-social btn-google" style="background-color:#dd4b39;text-align:center">
<span class="fa fa-google"></span>
       Sign in with Google </a>
      </div>




    </div>
  </div>
</div>






{% endblock %}
