{% extends "base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block headextra %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
<script type="text/javascript" src="{% static 'js/product_detail.js' %}" ></script>
{% endblock headextra %}
{% block breadcrumbs %}
    {{ block.super }}

{% endblock %}

{% block content %}
<!-- {% render_breadcrumbs %} -->

<div class="container">
  <div class="product-container">
      
      <div class="row my-3">
        <div class="">
          <div class="slider_wrapper">


          <div id="slider">


          {% for pimage in item.productimage_set.all %}
              <img  class='thumbnail' src="{{pimage.image.url }}" alt="">
          {% endfor %}



          </div>

        </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 ">

          <div class="img-container">
            <img class="prod-d-img" src="{{ item.productimage_set.all.0.image.url }}" alt="">
          </div>
        </div>
        <div class="col-sm-4 col-md-4  pro-det">
          <div class="prod-info">
            <div class="prod-name-container">
              <h2 class= prod-name-header">{{ item.name }}</h2>
            </div>
            <hr>
            <div class="prod-cost-container" >
              <h4 class=" container" style='color:blue;padding:0px;'>&#8377;{{item.price}}</h4>
            </div>

            <div class="description-section">
              <p class='cont_header'>Description</p>
              <p class='content'>{{item.description}}</p>
            </div>
            <div class="add-to-cart-btn  d-btn ">
              <button class="btn btn-primary update-cart" id='detail_btn' data-product="{{item.id}}" data-action='add' type="" name="button">ADD TO CART</button>
            </div>
          </div>


          </div>



        </div>
        <div class="row">


        </div>

      </div>
  </div>

</div>

{% endblock content %}
