{% extends 'base.html' %}
{% load staticfiles %}
{%  block content %}


  <div class="container">
  <div class="row">
    {% for item  in store_items %}
    <div class="col-lg-4">
      <div class="box-ele">
        <img class='thumbnail' src="{{ item.productimage_set.all.0.image.url }}" alt="">
        <div class="add-cart">
          <button  data-product="{{item.id}}" data-action='add' type="button" class="btn btn-info btn-sm add-cart-btn update-cart" name="button"><i class="fa fa-cart-plus cart-icon" aria-hidden="true"></i> </button>
          <button type="button" name="button"><i class="fa fa-eye" aria-hidden="true"></i>
</button>
        </div>

        <hr>
        <h4 class="product-name">{{item.name}}</h4>

        <h4 class="product-name"><strong> &#8377;{{item.price }}</strong></h4>

      </div>

    </div>

        {% endfor %}
  </div>






</div>




{% endblock %}
